@import "../../styles/modules/all";

:host {
	position: relative;
	z-index: 1;

	display: block;
	width: 392px; height: 472px;

	#spinner {
		position: absolute;
		top: 50%; left: 50%;
		z-index: 0;
		margin: -14px 0 0 -14px;

		--paper-spinner-layer-1-color: var(--paper-blue-500);
		--paper-spinner-layer-2-color: var(--paper-blue-500);
		--paper-spinner-layer-3-color: var(--paper-blue-500);
		--paper-spinner-layer-4-color: var(--paper-blue-500);
	}

	#content {
		position: relative;
		z-index: 1;

		width: 100%; height: 100%;

		#back, #front, #form, #submit {
			position: absolute;
			width: 100%; left: 0;
		}

		#back, #front {
			bottom: 0;
			background-size: cover;
		}

		#back {
			height: 342px;
			background-image: url("images/mail-back@2x.png");
			z-index: 0;
		}

		#front {
			height: 342px;
			background-image: url("images/mail-front@2x.png");
			z-index: 2;
			pointer-events: none;
		}

		#form {
			bottom: 94px;
			z-index: 1;

			::content form {
				position: relative;

				margin: auto;
				width: 352px;
				background: white;
				border: 1px solid $black-divider;
				box-shadow: 0px 1px 4px 0px $black-divider;
				border-radius: 2px;
				padding: 16px 16px 48px;
			}
		}

		#submit {
			bottom: -8px;
			z-index: 3;

			::content #submit-button {
				width: 160px;
			}
		}
	}
}

// for animation
:host {
	#content {
		opacity: 0;
		transform: translateY(20%);

		transition: transform 0.6s, opacity 0.6s;
		will-change: transform, opacity;
	}
	#form {
		transform: translateY(50%);
		
		transition: transform 0.6s;
		will-change: transform;
	}
}

:host(.show) {
	#content {
		opacity: 1;
		transform: none;
	}
	#form {
		transform: none;
	}
}

:host(.animateOut) {
	pointer-events: none;
	#content {
		transform: translateY(-50%);
		opacity: 0;
	}
	#form {
		transform: translateY(30%);
	}
}