$primary-color: #2196F3;
$accent-color: #FF4081;

$black-divider:		rgba(black, 0.12);
$black-hint:		rgba(black, 0.26);
$black-secondary:	rgba(black, 0.54);
$black-text:		rgba(black, 0.87);

$white-divider:		rgba(white, 0.12);
$white-hint:		rgba(white, 0.3);
$white-secondary:	rgba(white, 0.7);
$white-text:		rgba(white, 1);

$font-size-small:	12px;
$font-size-medium:	15px;
$font-size-large:	21px;
$font-size-xlarge:	45px;